@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;700&display=swap');
@import '@coinbase/onchainkit/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-[#FBFBFB] text-[#050505];
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-xl border border-gray-200 shadow-sm;
}

.glass-card {
  @apply bg-white/60 backdrop-blur-lg border border-white/30 shadow-lg hover:shadow-xl transition-all duration-300;
}

.gpu-accelerated {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}